@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --main-color: #7e909a;
  --secondary-color: #ffaa33;
  --font-color: #fff;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1068px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
header {
  background-color: var(--main-color);
  margin-bottom: 2rem;
}
.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.logo {
  color: var(--secondary-color);
  font-size: 1.25rem;
}
#icon-nav {
  position: relative;
  color: var(--secondary-color);
  font-size: 1.25rem;
  cursor: pointer;
}
.cart-number {
  position: absolute;
  color: var(--font-color);
  font-size: 0.75rem;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Header */
/* section */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  margin: 2rem 0;
  gap: 1rem;
}
.shop-card {
  position: relative;
  width: 350px;
  margin-bottom: 1rem;
}
.shop-card:hover {
  padding: 0.5rem;
  border: 1px solid #566573;
  transition: 0.3s;
}
.shop-content img {
  width: 100%;
  margin-bottom: 1rem;
}
.shop-content h3 {
  display: inline;
  padding-left: 0.5rem;
  text-transform: uppercase;
}
.shop-content .shop-card span {
  position: absolute;
  right: 0;
  padding-right: 0.5rem;
  font-weight: 500;
}
.button {
  margin: 0.5rem 0;
  border: none;
  color: var(--font-color);
  height: 2rem;
  min-width: 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.width-100 {
  width: 100%;
}
.bg-primary {
  background: #0091d5;
}
.bg-secondary {
  background: var(--secondary-color);
}
.bg-success {
  background: #198754;
}
.bg-light {
  background: #7e909a;
}
.shop-content button:focus,
.shop-content button:hover {
  filter: brightness(95%);
}
.popup {
  margin: 0rem auto;
  width: 70vw;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid #555;
}
.popup img {
  max-width: 100%;
  width: 40%;
}
.popup .popup-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #555;
}
.popup-title span {
  font-weight: bold;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup h2 {
  margin: 0;
}
.popup-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}
.popup-body img {
  text-align: center;
}
.popup-footer {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 1rem;
  border-top: 1px solid #555;
  padding-top: 0.5rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 999;
  background: #000;
  opacity: 0.6;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
/* section */
/* Media Query */
@media (max-width: 1080px) {
  .shop-card {
    width: 310px;
  }
  .nav {
    padding: 15px;
  }
  section {
    padding: 3rem 0 2rem;
  }
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .shop {
    margin-top: 2rem !important;
  }
}
@media (max-width: 1052px) {
  .shop-content {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .shop-card {
    width: 290px;
  }
}
@media (max-width: 992px) {
  .shop-content {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .shop-card {
    width: 260px;
  }
}
@media (max-width: 880px) {
  .shop-content {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .shop-card {
    width: 250px;
  }
}
@media (max-width: 800px) {
  .shop-content {
    display: grid;
    grid-template-columns: auto auto;
  }
  .shop-card {
    width: 280px;
  }
}
@media (max-width: 630px) {
  .shop-content {
    display: grid;
    grid-template-columns: auto auto;
  }
  .shop-card {
    width: 220px;
  }
}
@media (max-width: 550px) {
  .shop-content {
    display: grid;
    grid-template-columns: auto auto;
  }
  .shop-card {
    width: 200px;
  }
}
@media (max-width: 462px) {
  .shop-content {
    display: grid;
    grid-template-columns: auto;
  }
  .shop-card {
    width: 300x;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .nav {
    padding: 11px;
  }
  .logo {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .shop {
    margin-top: 1rem !important;
  }
}
/* Media Query */
